// app global css in SCSS form
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Display:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap');
* {
  font-family: 'Noto Sans Display', sans-serif;
}

a {
  font-family: 'Noto Sans Display', sans-serif;
}

span {
  //font-family: 'Lato', sans-serif;
  font-family: 'Noto Sans Display', sans-serif;
}

//.text-bolder{
//  font-family: 'Lato', sans-serif;
//}
